@use '../base' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $spacing;
  }
}